<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Order</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
  <div id="v-app">
      <h1>{{title}}</h1>
      <form>
          <input v-model="text" type="text"/>
          <button type="submit" @click.prevent="sendMessage()">Send</button>
      </form>
      <p>
      <ul>
          <li v-for="msg of messages">{{msg}}</li>
      </ul>
      </p>
  </div>
  </body>
  <script>
    const app = new Vue({
      el: '#v-app',
      data: {
        title: 'Order',
        text: '',
        messages: [],
        socket: null
      },
      methods: {
        sendMessage() {
          if (this.text !== '') {
            console.log('sent: ', this.text);
            this.socket.emit('order', this.text);
            this.text = '';
          }
        },
        receiveMessage(msg) {
          this.messages.push(msg);
          console.log('received: ', msg);
        }
      },
      created() {
        this.socket = io(`http://localhost:3000`);
        this.socket.on('order', (msg) => {
          this.receiveMessage(msg);
        });
      }
    });
  </script>
</html>
